<!DOCTYPE html>
<html>
	<head>
		<title>Messageboard</title>
	</head>
	<body>
		<h1>Messageboard</h1>
		<table>
			<tr>
				<th style="text-align:left">Username: </th>
				<td>{{user.username}}</td>
			</tr>
		</table>


		<form action='logout/' method="POST">
			{% csrf_token %}
			<input type="submit" value="Logout"/>
		</form>
		
		<h2>Sent messages</h2>

		<ul>
		{% for m in messages %}

		<li>
			&lt{{ m.date|date:"d.m.Y H:i:s" }}&gt {{m.user}}: {{ m.content|safe }}
			{% if m.user == user %}
			<form action='remove/' method="GET">
				<input type="hidden" name="pk" value={{ m.pk }}>
				<input type="submit" value="Delete"/>
			</form>
			{% endif %}
		</li>

		{% endfor %}
		</ul>


		<h2>Send new message</h2>

		<form action='add/' method="GET">
			<input type="text" name="content"/><br/>
			<input type="submit" value="Send"/>
		</form>
		<h2>Search for messages</h2>

		<form action='search/' method="GET">
			<input type="text" name="content" placeholder="Text to search"/><br/>
			<input type="submit" value="Search"/>
		</form>
	</body>
</html>
